.container {
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-template-rows: 10% 1fr 10%;
    grid-gap: 3px;
    height: 100%;
    grid-template-areas: "header header" "side main" "footer footer";
}

.header {
    grid-area: header;
}

.side {
    grid-area: side;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

img {
    display: inline-block;
    block-size: 70%;
    position: absolute;
    top: 400px;
    left: auto;
    opacity: 40%;
    z-index: 1;
}

h1 {
    text-align: center;
}

body,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.menu-1>ul {
    z-index: 2;
    display: inline-block;
    width: 100%;
    background-color: #dfdfdf;
    border-radius: 3px;
}

.menu-1 {
    position: flex;
    text-align: center;
    margin: auto auto;
    margin-top: 50px;
}

.menu-1>ul>li {
    display: inline-block;
    width: 200px;
    float: center;
}

.menu-1>ul>li>a {
    padding: 10px;
    display: block;
    top: 100%;
}

.menu-1 li:hover>a {
    position: relative;
    display: block;
    background-color: red;
    color: blue;
    padding: 10px;
}

.menu-1 li {
    position: relative;
    display: block;
}

.menu-1>ul ul {
    display: none;
    position: absolute;
}

.menu-1 li:hover>ul {
    z-index: 2;
    display: block;
    background-color: #dfdfdf;
    border-radius: 3px;
}

.menu-1>ul>li>ul>li {
    display: inline-block;
    width: 100%;
}

.menu-1>ul>li>ul>li>a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}