h1 {
    text-align: center;
}

body,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.menu-1>ul {
    display: inline-block;
    width: 100%;
    background-color: #dfdfdf;
    border-radius: 3px;
}

.menu-1 {
    position: flex;
    text-align: center;
    margin: auto auto;
    margin-top: 50px;
}

.menu-1>ul>li {
    display: inline-block;
    width: 25%;
    float: left;
}

.menu-1>ul>li>a {
    padding: 10px;
    display: block;
    top: 100%;
}

.menu-1 li:hover>a {
    position: relative;
    display: block;
    background-color: black;
    color: yellow;
    padding: 10px;
}

.menu-1 li {
    position: relative;
    display: block;
}

.menu-1>ul ul {
    display: none;
    position: absolute;
}

.menu-1 li:hover>ul {
    display: block;
    background-color: #dfdfdf;
    border-radius: 3px;
}

.menu-1>ul>li>ul>li {
    display: inline-block;
    width: 100%;
}

.menu-1>ul>li>ul>li>a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}